
.banner {
  /* background-color: slateblue; */
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  text-align: center;
  background-image: url(https://envato-shoebox-0.imgix.net/0ffb/7cf8-0d8e-43fd-aaec-344b0acd2eeb/T13A6814.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=975560a05a82be7634f913b23d352784);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  position: relative;
  color :pink;

  
}

aside {
  background-color: magenta;
}

button.tablinks{
  background-color: lavender;
  cursor: pointer;
  margin: 20px;
  color: black;
  font-size: 28px;
  padding: 30px;
  display:inline-block;
  border-radius: 10px;
  border: 8px double #a52edb;
  font-family: American Typewriter, serif;
  padding:26px 43px;
  
  
}



.favorite-list {
  display: flex;
  overflow-x: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem); 
}

.category {

  background-image: url(https://thumbs.dreamstime.com/b/pastry-line-icons-seamless-vector-pattern-bakery-background-pastry-line-icons-seamless-vector-pattern-bakery-outline-repeat-wrap-138887852.jpg);
  background-repeat: repeat;
  background-size: contain;
  display: flex;
  justify-content: start;
  text-align: center;
  flex-wrap: wrap;
}

div.dessert-collection {
  text-align: center;
  border-image: url(https://previews.123rf.com/images/seamartini/seamartini1407/seamartini140700393/30407273-seamless-background-pattern-of-repeat-french-baguette-with-an-ear-of-ripe-yellow-wheat-isolated-on-w.jpg);
  
  display: flex;
  justify-content: center;
}

.dessert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablinks {
  background-color: purple;

}

/*********GLOBAL TEXT FONTS*********/
h1 {
  font-family: American Typewriter,serif;
  font-weight: 200;
  background-color: pink;
}

h2 {
  font-family: American Typewriter,serif;
  font-weight: 400;
  background-image: url(https://image.flaticon.com/share_sprites/pack/0/112/112105-bakery-lineal.jpg);

  
}

h3 {
  font-family: American Typewriter,serif;
  font-weight: 400;
}

.dessert-picture {
  width: 200px;
  height: 200px;
  border: 30px solid transparent;
  padding: 10px;
  background-image: ; url(https://www.shutterstock.com/image-photo/flat-lay-baking-utensils-ingredient-on-448761430);
}

div.scrollmenu {
  background-color: purple;
  overflow: auto;
  white-space: nowrap;
  
  
	text-align: center;
	left: 4px;
  width: 1000%;
   

}



div.scrollmenu a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: magenta;
}

div.scrollmenu img {
  max-width:35%; 
  height:auto; 
}

::-webkit-scrollbar {
  width: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px darkgreen; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgreen; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

.like-btn {
  background-color: lightyellow;
}